h1 {
	/*padding-top: 32px;*/
	font: /*italic*/ small-caps bolder condensed 32px/1 "DejaVu Sans", cursive, sans-serif;
}
body {
	font: /*small-caps*/ condensed 16px/1 "DejaVu Sans", cursive, sans-serif;
}

body {
	padding-left: 158px;
	margin: 8px;
}

#menu {
	list-style-type: none;
	
	background-color: #f1f1f1;
	font: /*small-caps*/ condensed 16px/1 "DejaVu Sans", cursive, sans-serif;
	
	position: fixed;
	
	height: 100%;/*17px;*/
	width: 150px;/*100%;*/
	
	padding: 0;
	
	margin-top: 0px;
	margin-left: -158px;
}

#menu > li a {
	display: block;
	/*text-align: center;*/
	
	background-color: /*#4CAF50*/#cacaca;
	color: #000;
	
	/*height: 32px;*/
	margin: 2px;
	
	padding: 8px 16px;
	
	text-decoration: none;
}
#menu > li a.active {
	background-color: #004080;
	color: #fff;
}
#menu > li a:hover:not(.active) {
	background-color: #80a0c0;
	color: #fff;
}
